body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size :3em;
}
span,b{
    color:rgb(81, 84, 248);
}

input{
    padding:10px;
    width:200px;
    border-radius: 10px;
    border:1px solid gray;
}
button{
    padding: 10px;
    border-radius: 10px;
    border:none;
    color:aliceblue;
    background-color: orange;

}
.contain{
    display: flex;
    flex-direction: column;
    width:300px;
    padding:10px;
    margin:10px;
    font-size :12px;
    font-weight: 700;
}
#contain1 b{
color: rgb(76, 174, 231);
}

#contain2 b{
    color: rgb(238, 203, 47);
    }
    
#contain3 b{
    color: rgb(129, 248, 32);
    }
    
#contain4 b{
    color: rgb(243, 99, 33);
    }

.contain div{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
hr{
    width:300px;
}
footer{
    text-align: center;
    color:gray;
    font-size: 12px;
    margin: 10px;
    }


  